<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/app.js"></script> 
        </head>
<body>
    <div class="main-content">
         {{>header}}
         <p>welcome to about page</p>
         <img  class="pic" src="/img/img.png">
    </div>
    
    {{>footer}}
    </body>

    </html>